* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: green;
  color: #fff;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  position: relative;
  padding: 10px 20px;
  font-size: 20px;
}

header .logo {
  font-size: 24px;
  font-weight: bold;
}

header .logo span {
  color: yellow;
}

header nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

header nav ul {
  display: flex;
  gap: 20px;
}

header nav ul li {
  padding: 10px;
  transition: background-color 0.3s ease;
}

header nav ul li:hover {
  background-color: yellow;
}

header nav ul li a {
  list-style: none;
  text-decoration: none;
  color: #fff;
  padding: 10px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.hero {
  width: 100%;
  height: 60vh;
  background-image: url("imgs/hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 20px;
  align-items: center;
  text-align: center;
  color: white;
}

.btn {
  width: fit-content;
  display: inline-block;
  padding: 12px 24px;
  background: #ffe100;
  color: black;
  text-decoration: none;
  border-radius: 50px;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.products {
  padding: 20px;
  width: 100%;
  text-align: center;
}

.product-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.product-item {
  width: 300px;
  min-height: 300px;
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.product-item img {
  width: 30%;
  height: 30%;
  object-fit: contain;
  display: block;
}

.product-item a {
  text-decoration: underline;
  color: green;
}

footer {
  margin-top: auto;
  text-align: center;
  padding: 20px;
  background: #222;
  color: #fff;
}

/* prod details page */

main {
  padding: 20px;
  height: 100vh;
}

.pd-products {
  padding: 20px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.pd-products .pd-nav {
  position: absolute;
  left: 20px;
  top: 20px;
  font-size: 14px;
  color: gray;
  margin-bottom: 30px;
}

.pd-product-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.pd-product-item {
  width: 300px;
  height: 300px;
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.pd-product-item img {
  width: 50%;
  height: 50%;
  object-fit: contain;
  display: block;
}

.pd-product-item a {
  text-decoration: none;
  text-transform: capitalize;
  color: #fff;
  background-color: green;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}

.pd-product-item .organic {
  position: absolute;
  left: 5px;
  top: 5px;
  color: #fff;
  background-color: blue;
  width: fit-content;
  font-size: 12px;
  padding: 5px 20px;
  border-radius: 5px;
}

.pd-product-item .sale {
  position: absolute;
  left: 5px;
  top: 5px;
  color: #fff;
  background-color: red;
  width: fit-content;
  font-size: 12px;
  padding: 5px 20px;
  border-radius: 5px;
}
